<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Fullers Haven Admin</title>
</head>
<body>
    <div>
        <p>
            Welcome to Fullers Haven admin portal. See login details below:
        </p>
        <p>
            <dl>
                <dt>Username</dt>
                <dd>{{username}}</dd>
                <dt>Password</dt>
                <dd>{{password}}</dd>
                <dt>Login Page</dt>
                <dd>{{admin_login_url}}</dd>
            </dl>
        </p>
    </div>
</body>
</html>