<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Fullers Haven Admin</title>
</head>
<body>
    <div>
        <p>
            Welcome to Fullers Haven admin portal. See login details below:
        </p>
        <p style="font-family:Arial,Helvetica,sans-serif;font-size:15px;color:#5c5c5c;line-height:135%;border-bottom:solid 1px #ddd"><b>Details</b></p>
                <table border="0" cellspacing="0" cellpadding="5" style="border-top:solid 3px #ccc;width:100%;font-family:Arial,Helvetica,sans-serif;font-size:15px;color:#5c5c5c;line-height:135%">
                    <tbody><tr valign="top">
                        <td style="border-right:solid 1px #ddd;border-left:solid 1px #ddd;border-bottom:solid 1px #ddd"><b>Username</b></td>
                        <td style="border-right:solid 1px #ddd;border-bottom:solid 1px #ddd;padding-left:20px">{{username}}</td>
                    </tr>
                    <tr valign="top">
                        <td style="border-right:solid 1px #ddd;border-left:solid 1px #ddd;border-bottom:solid 1px #ddd"><b>Password</b></td>
                        <td style="border-right:solid 1px #ddd;border-bottom:solid 1px #ddd;padding-left:20px">{{password}}</td>
                    </tr>
                    <tr valign="top">
                        <td style="border-right:solid 1px #ddd;border-left:solid 1px #ddd;border-bottom:solid 1px #ddd"><b>Login Page</b></td>
                        <td style="border-right:solid 1px #ddd;border-bottom:solid 1px #ddd;padding-left:20px">{{admin_login_url}}</td>
                    </tr>
                </tbody>
                </table>
    </div>
</body>
</html>